.home {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.header {
  display: grid;
  background-color: rgb(9, 63, 144);
  grid-template-columns: 1fr 1fr 1fr;
}
.header__H3 {
  text-align: left;
  color: white;
  font-size: x-large;
  margin-bottom: -10px;
  text-decoration: none;
  padding-left: 10px;
}
.header__H3:hover {
  color: lightskyblue;
}

.header__img {
  margin-left: 24px;
  margin-right: auto;
  width: 200px;
  height: auto;
  object-fit: fill;
}
.header__user {
  text-align: right;
  font-weight: bolder;
  padding-right: 10px;
  text-decoration: none;
  color: white;
}
.header__user:visited {
  color: none;
}
.header__user:hover {
  color: crimson;
}
.navigator {
  text-align: center;
  padding-right: 10px;
  background-color: lightskyblue;
}
.navigator__link {
  text-decoration: none;
  color: black;
  padding-right: 10px;
  text-align: center;
  font-weight: bold;
}
.navigator__link:hover {
  color: crimson;
}
.navigator__link:visited {
  color: none;
}
.articleList {
  padding-left: 5px;
  padding-right: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2px;
  list-style: none;
}
.articleCard {
  margin: 5px;
  text-align: center;
  /* background-color: lightskyblue; */
  border: 2px skyblue solid;
}
.articleCard__link {
  color: black;
  text-decoration: none;
}
.articleCard__link:visited {
  color: none;
}
.articleCard__button {
  cursor: pointer;
  background-color: rgb(9, 63, 144);
  font-weight: bold;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
}

.articleList_load_more_articles__button {
  cursor: pointer;
  background-color: rgb(9, 63, 144);
  font-weight: bold;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
}

.singleArticle dt {
  display: inline;
  text-align: right;
  padding-right: 5px;
  padding-left: 10px;
}

.singleArticle h1 {
  margin-left: 10px;
  text-align: center;
}
.singleArticle__body {
  padding: 10px;
  margin: 10px;
  border: 2px skyblue solid;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.commentCard {
  padding-left: 5px;
  padding-right: 2px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2px;
  border-top: 5px skyblue groove;
}

.commentCard__body {
  padding-right: 22px;
  text-align: left;
}

#goToTop {
  text-decoration: none;
}

.submitComment {
  margin-left: 5px;
  cursor: pointer;
  display: inline;
}

#postVerification {
  color: green;
}

#postVerificationPending {
  color: red;
}

.dropdown-sortBy-order {
  display: inline;
  padding: 5px;
}

.articlesPage {
  margin-top: 5px;
}

#characterLimit {
  color: rgba(255, 0, 0, 0.544);
  padding-left: 5px;
  padding-right: 5px;
}

.deleteBtn {
  cursor: pointer;
  margin-left: 10px;
  width: auto;
  height: 30px;
}

.user {
  cursor: pointer;
  padding: 5px;
}
.user:hover {
  color: crimson;
}

.votingBtn {
  cursor: pointer;
  display: inline;
}

.votingBtnWarning {
  margin-left: 5px;
  display: inline;
}
#votingNeedLogIn {
  color: red;
}
